@{
    ViewBag.Title = "Contacts";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<h3>Meet the developers</h3>
<address>
    <strong>Project lead: Chris Mantzel</strong>            <a href="mailto:Mantzel@Marshall.edu">Mantzel@Marshall.edu</a><br />
    <strong>System Integrater: Gabriel Hoverman</strong>    <a href="mailto:Hoverman@Marshall.edu">Hoverman@Marshall.edu</a><br />
    <strong>Database Designer: Alec Murrary</strong>        <a href="mailto:Murray@Marshall.edu">Murray@Marshall.edu</a><br />
    <strong>Documentation and Testing: Luke Jenkinson</strong>   <a href="mailto:Jenkinson@Marshall.edu">Jenkinson@Marshall.edu</a><br />
</address>