
@{
    ViewBag.Title = "MARCOSHome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Welcome to MARCOS!</h2>
<div class="row">
    <div class="col-md-4" style="width:50%;">
        <div id="wrap" style="background-color:whitesmoke">
        <h2>Edit your Profile</h2>
        <p class="lead">
            Edit your profile to ensure that it reflects your personal expertise as well as fields.
        </p>
            <p><a href="~/Manage" class="btn btn-primary btn-lg">Edit Profile &raquo;</a></p>
        </div>
    </div>

    <div class="col-md-4" style="width:50%;">
        <div id="wrap" style="background-color:whitesmoke">
            <h2>Post a question.</h2>
            <p class="lead">
                Click the button below to post a question, view questions, and submit answers.
            </p>
            <p><a href="~/MARCOS/Questions" class="btn btn-primary btn-lg">Question &raquo;</a></p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4" style="width:50%;">
        <div id="wrap" style="background-color:whitesmoke">
            <h2>Search</h2>
            <p>Search the site for questions, members, and research opportunities.</p>
            <p><a href="~/MARCOS/search" class="btn btn-primary btn-lg">Search &raquo;</a></p>
        </div>
    </div>
    <div class="col-md-4" style="width:50%;">
        <div id="wrap" style="background-color:whitesmoke">
            <h2>Extra</h2>
            <p>Here for testing purposes</p>
            <p><a href="~/MARCOS/Questions" class="btn btn-primary btn-lg">Test &raquo;</a></p>
        </div>
        </div>
</div>

