
@{
    ViewBag.Title = "PostQuestions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Post A Question</h2>
<div style="width:100%;">
    <p>Question Title</p>
    <textarea id="TextArea1" rows="2" cols="20" style="width:1000px;"></textarea>
</div>
    <div>
    <p>Question Description</p>
    <textarea id="TextArea1" rows="10" cols="200"></textarea>
</div>
<input class="btn btn-primary btn-lg" id="Submit1" type="submit" value="Submit" />