
@{
    ViewBag.Title = "Questions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Questions</h2>
<div class="row">
    <div class="col-md-4" style="width:50%;">
        <div id="wrap" style="background-color:whitesmoke">
            <h2>View Questions</h2>
            <p class="lead">
                View questions that have already been posted to the site.
            </p>
            <p><a href="~/MARCOS/ViewQuestions" class="btn btn-primary btn-lg">View questions &raquo;</a></p>
        </div>
    </div>

    <div class="col-md-4" style="width:50%;">
        <div id="wrap" style="background-color:whitesmoke">
            <h2>Post a question.</h2>
            <p class="lead">
                Post a new question to the site.
            </p>
            <p><a href="~/MARCOS/PostQuestions" class="btn btn-primary btn-lg">Post a Question &raquo;</a></p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>View your Questions</h2>
        View questions you have posted.
    </div>
    <div class="col-md-4">
        <h2>Search Questions</h2>
        Search for questions on specific topics.
    </div>
    <div class="col-md-4">
        <h2></h2>
    </div>
</div>



