
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Search</h2>

        <div id="wrap" style="background-color:whitesmoke">
            <h2>Search Questions</h2>
            <p class="lead">
                Edit your profile to ensure that it reflects your personal expertise as well as fields.
            </p>
            <p><a href="~/Manage" class="btn btn-primary btn-lg">Search &raquo;</a></p>
        </div>


        <div id="wrap" style="background-color:whitesmoke">
            <h2>Seach Members</h2>
            <p class="lead">
                Click the button below to post a question, view questions, and submit answers.
            </p>
            <p><a href="~/MARCOS/Questions" class="btn btn-primary btn-lg">Search &raquo;</a></p>
        </div>

<div id="wrap" style="background-color:whitesmoke">
    <h2>Search Research Opportunities</h2>
    <p class="lead">
        Click the button below to post a question, view questions, and submit answers.
    </p>
    <p><a href="~/MARCOS/Questions" class="btn btn-primary btn-lg">Search &raquo;</a></p>
</div>




